@using AgentCoreProcessor.WebUI.Navigation

<li>
    <a class="nav-link nav-section-toggle @(IsExpanded ? "" : "collapsed")"
       @onclick="Toggle" @onclick:preventDefault role="button">
        @if (!string.IsNullOrEmpty(Item.Icon))
        {
            <i class="bi @Item.Icon"></i>
        }
        <span class="flex-grow-1">@Item.Title</span>
        <i class="bi bi-chevron-down nav-chevron"></i>
    </a>

    <ul class="nav-section-children" style="@(IsExpanded ? "" : "display:none")">
        @foreach (var child in Item.Children)
        {
            @if (child.Children.Count == 0)
            {
                <li @key="child.Href">
                    <NavLink class="nav-link" href="@child.Href"
                             Match="NavLinkMatch.All">
                        @if (!string.IsNullOrEmpty(child.Icon))
                        {
                            <i class="bi @child.Icon"></i>
                        }
                        @child.Title
                    </NavLink>
                </li>
            }
            else
            {
                <NavSection @key="child.Title" Item="child" ExpandedSet="ExpandedSet" Version="Version" />
            }
        }
    </ul>
</li>

@code {
    [Parameter] public NavItem Item { get; set; } = new();
    [Parameter] public HashSet<string> ExpandedSet { get; set; } = new();
    [Parameter] public int Version { get; set; }

    private bool IsExpanded => ExpandedSet.Contains(Item.Title);

    private void Toggle()
    {
        if (IsExpanded)
            ExpandedSet.Remove(Item.Title);
        else
            ExpandedSet.Add(Item.Title);
    }
}
